.container {
	position: relative;
	width: 95%;
	height: 95vh;
	padding: 5px;
}

.logout_btn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}