.container {
	max-height: 100vh;
	overflow: auto;
	scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
	width: 0;
    background-color: transparent;
}

.container h1 {
	margin-top: 30px;
}

.container h2 {
	margin-top: 80px;
}

.container ul {
	margin-top: 20px;
	margin-bottom: 10px;
}

.logout_btn {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #4CAF50;
	color: white;
	margin-top: 30px;
	margin-right: 150px;
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}

.upload_btn {
	position: relative;
	top: 0px;
	background-color: #0080ff;
	color: white;
	margin-top: 25px;
	padding: 10px 20px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.tab-content table, th, td {
	border: 1px solid black;
	padding: 8px; /* Adjust this value as needed */
}

.tab-content th {
	background-color: #f2f2f2;
	font-weight: bold;
}