<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/icons/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/homepage.css}"/>
    <title>My Notes</title>
</head>
<body>
	<div class="container">
		<h1> Welcome : </h1>
		<div id="text">NULL</div>
		<button id="logout_btn" class="logout_btn">LOGOUT</button>
	</div>
    <script th:src="@{/js/homepage.js}" type="text/javascript"></script>
</body>
</html>
