<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" th:href="@{/icons/favicon.png}">
	<title>My Notes</title>
	<link rel="stylesheet" th:href="@{/css/login-form.css}"/>
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6 login-container">
				<form id="loginForm" th:action="@{/login}" method="post">
					<div class="mb-3">
						<label for="user_id" class="form-label">User ID:</label> 
						<input type="text" class="form-control" id="user_id" name="userID" placeholder="Enter User Id" required>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Password:</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
					</div>
					<button type="submit" id="loginButton" class="btn">Login</button>
				</form>
				<a href="#" id="signupLink" th:href="@{/signup}">Sign Up</a>
			</div>
		</div>
	</div>
</body>
</html>
