<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/icons/favicon.png}">
    <title>My Notes</title>
</head>
<body>
    <form id="SignupForm" th:action="@{/register}" method="post">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userID" placeholder="Enter User ID" required />

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required />

        <button type="submit">Sign Up</button>
    </form>
    <a th:href="@{/}">Want to login ?</a>
</body>
</html>
